@import "./components/colors.scss";
@import "./components/menu.scss";
@import "./components/button.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  width: min(90vw, 1440px);
  margin: 0 auto;
}
