@import "./components/colors.scss";
@import "./components/texts.scss";
@import "./components/menu.scss";
@import "./components/button.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 18px "Public Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}

.container {
  width: min(90vw, 1440px);
  margin: 0 auto;
}
main {
  overflow: hidden;
}

.initial-section {
  background: url(../images/bg-intro-desktop.svg) no-repeat 50vw -15vw / 70% $Very-Light-Gray;
  position: relative;

  .container {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    .text-container {
      width: 85%;
      margin: 20% 0;
    }

    .container-img {
      position: absolute;
      top: -6vw;
      right: -5vw;
      z-index: 2;
      img {
        width: clamp(500px, 50vw, 800px);
      }
    }
  }
}
.choose-section {
  background-color: $Light-Grayish-Blue;
  padding: 6rem 0;
  .advantage-container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    .advantage {
      max-width: 280px;
      img {
        margin-bottom: 2rem;
      }
    }
  }
}

.latest-section {
  padding: 6rem 0;
  background-color: $Very-Light-Gray;

  .cards-container {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    text-align: left;
    justify-content: center;

    .card {
      max-width: 300px;
      flex: 1 1 250px;
      background-color: $White;
      border-radius: 5px;

      img {
        width: 100%;
        height: 200px;
        border-radius: 5px 5px 0 0;
      }
      .content {
        padding: 1.5rem;
      }
    }
  }
}

footer {
  background-color: $Dark-Blue;
  padding: 1.5rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    .social-icons {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .icons-container {
        a {
          i {
            font-size: 1.5rem;
            color: $White;
            transition: all 0.4s ease-in-out;
          }
        }
        a:nth-child(2n) {
          margin: 0 0.5rem;
        }
        a:hover {
          i {
            transform: scale(1.2);
            color: $Lime-Green;
          }
        }
      }
    }
    .links {
      display: flex;
      justify-content: space-between;
      gap: 6rem;
      ul {
        li {
          margin: 1rem 0;
        }
      }
      a {
        color: $White;
        font-weight: 100;
        font-size: 0.9rem;
      }
    }
  }

  .footer-btn {
    text-align: right;
    p {
      margin-top: 1.5rem;
      color: $Grayish-Blue;
      font-size: 0.8rem;
    }
  }
}

@import "./components/responsive.scss";
